<h2> What to do if you get a "Service Temporarily Unavailable" error when using Apache mod_proxy </ h2>



If you try to access a Mojolicious application using Apache mod_proxy, you may get "Service Temporarily Unavailable". One possible cause is that SELinux is enabled. If you can disable SELinux as a project, disabling it is an easy solution.

Edit the SELinux configuration file.
<pre>
vi / etc / selinux / config
</ pre>

Please change to the following items.
<pre>
SELINUX = disabled
</ pre>

Please restart the server after making changes.