<h2> List of Mojolicious "tag helpers" </h2>



A list of Mojolicious tag helpers.

<h3> Text field </h3>

The <strong> text_field </strong> tag helper makes it easy to write <strong> text fields </strong>.

<pre>
<%= text_field'first_name'%>
<%= text_field first_name =>'Default name'%>
<%= text_field first_name =>'Default name', class =>'user'%>
</pre>

The first argument is the value of name, the second argument is the value of value, and the remaining arguments are used as attributes. It will be expanded as follows.

<pre>
<input name = "first_name" />
<input name = "first_name" value = "Default name" />
<input class = "user" name = "first_name" value = "Default name" />
</pre>

<h3> Password field </h3>

The <strong> password_field </strong> tag helper makes it easy to write <strong> password fields </strong>.

<pre>
<%= password_field'pass'%>
<%= password_field'pass', id =>'foo'%>
</pre>

The first argument is the value of name and the remaining arguments are used as attributes.

<pre>
<input name = "pass" type = "password" />
<input id = "foo" name = "pass" type = "password" />
</pre>

<h3> Text area </h3>

The <strong> text_area </strong> tag helper makes it easy to write <strong> text areas </strong>.

<pre>
<%= text_area'foo'%>
<%= text_area foo => begin%>
  Default!
<%end%>
</pre>

The first argument is the value of name. You can display the contents of the text area by passing a block (begin to end) as the second argument. It will be expanded as follows.

<pre>
  <textarea name = "foo"> </textarea>
  <textarea name = "foo">
    Default!
  </textarea>
</pre>

<h3> Checkbox </h3>

The <strong> check_box </strong> tag helper makes it easy to write checkboxes. Even when the page is changed, the checkbox is automatically checked if the parameter is set to a value.

<pre>
<%= check_box employed => 1%> # name => value
<%= check_box employed => 1, id =>'foo'%>
</pre>

It will be expanded as follows. The first argument is the value of name and the second argument is the value of value. Attributes for the remaining arguments
Can be described.

<pre>
<input name = "employed" type = "checkbox" value = "1" />
<input id = "foo" name = "employed" type = "checkbox" value = "1" />
</pre>

<h3> Radio button </h3>

The <strong> radio_button </strong> tag helper makes it easy to write <strong> radio buttons </strong>.

<pre>
<%= radio_button country =>'germany'%>
<%= radio_button country =>'germany', id =>'foo'%>
</pre>

The first argument is the value of name, the second argument is the value of value, and the remaining arguments are used as attributes. If the value corresponding to the parameter of the request is set, it will be checked automatically.

<pre>
<input name = "country" type = "radio" value = "germany" />
<input id = "foo" name = "country" type = "radio" value = "germany" />
</pre>

<h3> Select field </h3>

The <strong> select_field </strong> tag helper makes it easy to write <strong> select fields </strong>. Select fields are used to create combo boxes (drop-down menus) and list boxes.

<pre>
<%= select_field language => [qw / de en /]%>
<%= select_field language => [qw / de en /], id =>'lang'%>
<%= select_field country => [[Germany =>'de'],'en']%>
<%= select_field country => [{Europe => [[Germany =>'de'],'en']}]%>
<%= select_field country => [[Germany =>'de', class =>'europe'],'en']%>
</pre>

The first argument is the value of name. The second argument is the value of name and value of the option tag to be placed in the select tag. You can write various things using hash references and array references. The value of the parameter selected in the request is automatically selected. It will be expanded as follows.

<pre>
<select name = "language">
  <option value = "de"> de </option>
  <option value = "en"> en </option>
</select>
<select id = "lang" name = "language">
  <option value = "de"> de </option>
  <option value = "en"> en </option>
</select>
<select name = "country">
  <option value = "de"> Germany </option>
  <option value = "en"> en </option>
</select>
<select id = "lang" name = "language">
  <optgroup label = "Europe">
    <option value = "de"> Germany </option>
    <option value = "en"> en </option>
  </optgroup>
</select>
<select name = "country">
  <option class = "europe" value = "de"> Germany </option>
  <option value = "en"> en </option>
</select>
</pre>


<h3> Describe the file field </h3>

The <strong> file_field </strong> tag helper makes it easy to write file fields.

<pre>
<%= file_field'avatar'%>
<%= file_field'avatar', id =>'foo'%>
</pre>

It will be expanded as follows. The first argument is the value of name. The remaining arguments are the name and value of the attribute.

<pre>
<input name = "avatar" type = "file" />
<input id = "foo" name = "avatar" type = "file" />
</pre>

<h3> Describe hidden fields </h3>

The <strong> hidden_field </strong> tag helper makes it easy to write <strong> hidden fields </strong>.

<pre>
<%= hidden_field foo =>'bar'%>
<%= hidden_field foo =>'bar', id =>'bar'%>
</pre>

It expands to tags like the following: The first argument is the value of name, the second argument is the value of value, and the remaining arguments are used as attributes.

<pre>
<input name = "foo" type = "hidden" value = "bar" />
<input id = "bar" name = "foo" type = "hidden" value = "bar" />
</pre>

<h3> Write a submit button </h3>

The <strong> submit_button </strong> tag helper makes it easy to write a submit button.

<pre>
<%= submit_button%>
<%= submit_button'Ok!', Id =>'foo'%>
</pre>

The first argument is the value of value. This value is displayed as suitable for the button. The remaining arguments are used as attributes.

<pre>
<input type = "submit" value = "Ok" />
<input id = "foo" type = "submit" value = "Ok!" />
</pre>

<h3> Hyperlink </h3>

The <strong> link_to </strong> tag helper makes it easy to write <strong> hyperlinks </strong>.

<pre>
<%= link_to index => begin%> Home <%end%>
<%= link_to index => {foo =>'bar'} => (class =>'links') => begin%>
  Home
<%end%>
<%= link_to'/ path / to / file' => begin%> File <%end%>
<%= link_to'http://mojolicio.us' => begin%> Mojolicious <%end%>
<%= link_to url_for->query(foo => $foo) => begin%> Retry <%end%>
</pre>

It will be expanded to the following HTML. The first argument is the root name or path. You can also pass a Mojo::URL object. The last argument is a block, which allows you to specify the text of the hyperlink.

<pre>
<a href="/path/to/index"> Home</a>
<a class="links" href="/path/to/index/bar"> Home</a>
<a href="/path/to/file"> File</a>
<a href="http://mojolicio.us"> Mojolicious</a>
<a href="/current/path?foo=something"> Retry</a>
</pre>

<h3> Describe image tags </h3>

The <strong> image </strong> tag helper makes it easy to write <strong> image tags </strong>.

<pre>
<%= image'/images/foo.png'%>
<%= image'/images/foo.png', alt =>'Foo'%>
</pre>

It will be expanded as follows. The first argument is the URL to the image. This URL is expanded by the url_for method. The remaining arguments are used as attributes.

<pre>
<img src = "/ images / foo.png" />
<img alt = "Foo" src = "/ images / foo.png" />
</pre>

<h3> Style Sheet (CSS) </h3>

The <strong> stylesheet </strong> tag helper makes it easy to write external links and stylesheets to stylesheets.

<pre>
<%= stylesheet'/foo.css'%>
<%= stylesheet begin%>
  body {color: # 000}
<%end%>
</pre>

When specifying the link to the external style sheet, describe the path in the first argument. If you want to describe the style sheet itself, specify the block (begin to end) as the first argument. It will be expanded to the following HTML.

<pre>
<link href = "/ foo.css" media = "screen" rel = "stylesheet" type = "text / css" />
<style type = "text / css"> <! [CDATA [
  body {color: # 000}
]]> </style>
</pre>

<h3> JavaScript source code </h3>

The <strong> javascript </strong> tag helper makes it easy to write JavaScript source code.

<pre>
%= javascript'/script.js';
%= javascript begin
  var a ='b';
%end
</pre>

The argument can be an external JavaScript path or block (begin to end). You can write the actual JavaScript source code inside the block.

<pre>
<script src = "/ script.js" type = "text / javascript" />
<script type = "text / javascript"> <! [CDATA [
  var a ='b';
]]> </script>
</pre>

<h3> Input tag </h3>

The <strong> input_tag </strong> tag helper makes it easy to write <strong> input tags </strong>.

<pre>
<%= input_tag'first_name'%>
<%= input_tag first_name =>'Default name'%>
<%= input_tag'employed', type =>'checkbox'%>
<%= input_tag'country', type =>'radio', value =>'germany'%>
</pre>

It will be expanded as follows. The first argument is the value of name and the remaining arguments are used as attributes. Input values ​​contained in HTTP request parameters are automatically completed.

<pre>
<input name = "first_name" />
<input name = "first_name" value = "Default name" />
<input name = "employed" type = "checkbox" />
<input name = "country" type = "radio" value = "germany" />
</pre>

<h3> Base tag </h3>


You can easily write a base tag using the base_tag function, which is a tag helper.

<pre>
<%= base_tag%>
</pre>

It will be expanded to the following tags.

<pre>
<base href = "http: //localhost/cgi-bin/myapp.pl" />
</pre>