<h2> Check if hypnotoad is running properly </ h2>



Even if you execute the hypnotoad command, you cannot tell at first glance whether the command actually succeeded. The hyptnoaod server prints a message to production.log under the log directory if the log directory exists. So you need to look at the following files to see if the boot was successful.

<pre>
log / production.log
</ pre>

<h3> Log message </ h3>

<h3> Confirmation of startup </ h3>

When the hypnotoad server starts, the following message is output. This means that the process ID was started with 29647.

<pre>
Hypnotoad server 29647 started for "/ home / kimoto / labo / webminiapp / script / webminiapp".
</ pre>

However, even with this message, it is another matter whether it is actually listened to and accepts requests from clients. To confirm that, you need to confirm that the following message is output.

<pre>
Listening at "http: // *: 8080".
</ pre>

Only with this message will you know that the request is accepted on a specific port number (here 8080).