<h2> Mojolicious :: Plugin :: DBViewer --Plugin for viewing database information in a browser </ h2>

<strong> <a href="http://search.cpan.org/dist/Mojolicious-Plugin-DBViewer/lib/Mojolicious/Plugin/DBViewer.pm"> Mojolicious :: Plugin :: DBViewer </a> </a> </a> strong> is a Mojolicious plugin for viewing <strong> database information </ strong> from a <strong> browser </ strong>.

<img src = "http://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20130405/20130405170135_original.png" width = "700">

<h3> Functions </ h3>

<ul>
  <li>
    Supports MySQL and SQLite
  </ li>
  <li>
    List table names
  </ li>
  <li>
    Displaying the contents of CREATE TABLE
  </ li>
  <li>
    Performing a search with a simple SELECT statement. Support for multiple search criteria, join
  </ li>
  <li>
    Display primary key, nullable columns, database engine, character encoding, etc.
  </ li>
</ ul>

<h3> Overview </ h3>

Mojolicious :: Plugin :: DBViewer integrates Mojolicious :: Plugin :: MySQLViewerLite and Mojolicious :: Plugin :: SQLiteViewerLite to add functionality. The screen layout has also been cleaned up.

Please use Mojolicious :: Plugin :: DBViewer from now on. Note that you can no longer pass database handles directly. Be sure to specify the data source name for dsn.

It supports MySQL and SQLite, and you can see the database information from your browser. I think it's easy to imagine if you can think of it as something like phpMyAdmin for viewing only. It can be plugged in as a Mojolicious plugin.

<h3> How to use </ h3>

Use it as follows.

<pre>
#Mojolicious :: Lite
plugin (
  'DB Viewer',
  dsn => "dbi: mysql: database = bookshop",
  user =>'ken',
  password =>'! LFKD% $ &'
);

#Mojolicious
$ app-> plugin (
  'DB Viewer',
  dsn => "dbi: mysql: database = bookshop",
  user =>'ken',
  password =>'! LFKD% $ &'
);
</ pre>

You can access it at the following URL.

<blockquote>
/ dbviewer
</ blockquote>

<hr>
<a href="/blog/20130216136101.html"> To the CPAN module I created </a>