<h2> How to check when hypnotoad does not start </h2>



Hypnotoad, the production server of Mojolicious, did not start up, and it was difficult to check what was the error, so I will write a workaround.

The cause is simply that the config file was wrong, but if hypnotoad itself doesn't start, you can't even see it in the log file.

Also, hypnotoad runs in the background, so the details of the error are not printed to the command line.

So, in this case, it's a good idea to run hypnotoad in the foreground to check for errors. Use the <string> -f </strong> option to run hypnotoad in the foreground.

<pre>
hypnotoad -f script / myapp
</pre>

The error is now displayed on the command line.