<h2> How to automatically dispatch files in the template directory </h2>
The process of automatically dispatching files in the <strong> template directory </strong> can be written as follows.

<pre>
use Mojolicious::Lite;

# Manually create a route
get'/ foo' =>'foo';

#Create an automatic route
any'/ (* Path)' => sub {
  my $self = shift;
  
  my $path = $self->param('Path');
  
  $self->render(template => $path);
};;

app->start;

__DATA__

@@foo.html.ep
foo

@@bar / baz.html.ep
bar / baz
</pre>

The path structure accessed using the wildcard placeholder (*) is used as the template directory structure. The capital letter Path is used because path is a reserved word.

Now you can easily do both the convenience of placing the file in a template directory like PHP and the manual definition of the root to provide the user with an easy-to-read URL.

However, this method seems to be good, and there is one problem: when the template is drawn automatically, processing other than template drawing can not be done. It is not possible to write logic at the beginning of the template to draw Not Found, exception pages or JSON as the case may be.

There is a loophole. However, since it is not an official method, it is unknown whether it will be supported or not, and it is vulnerable to specification changes.

<h3> How to get around (Mojolicious 4.0 or later) </h3>

Render the template with render_maybe and check mojo.finised.

<pre>
use Mojolicious::Lite;

# Manually create a route
get'/ foo' => sub {
  my $self = shift;
  $self->render_maybe('foo');
  $self->stash('mojo.finished')? undef: $self->reply->not_found;
};;

#Create an automatic route
any'/ (* Path)' => sub {
  my $self = shift;
  
  my $path = $self->param('Path');
  $self->render_maybe($path);
  $self->stash('mojo.finished')? undef: $self->reply->not_found;
};;

app->start;

__DATA__

@@foo.html.ep
<%
  $self->render(json => {path =>'foo'});
  return;
%>

@@bar / baz.html.ep
<%
  $self->render(json => {path =>'/ bar / baz'});
  return;
%>
</pre>

With this description, you can call JSON or render_exception in the template to draw the exception.