<h2> Mojolicious's reverse proxy SSL detection method will change </h2>

The way Mojolicious's reverse proxy detects SSL changes. Those who use a reverse proxy and operate with SSL should be careful about upgrading. When transferring the version, describe both, and after the version upgrade, delete the old specification method.

<pre>
   <VirtualHost *: 443>
     ServerName localhost
     <Proxy *>
       Order deny, allow
       Allow from all
     </Proxy>
     ProxyRequests Off
     ProxyPreserveHost On
     ProxyPass / http: // localhost: 8080 / keepalive = On
     ProxyPassReverse / http: // localhost: 8080 /

     #Old specification method
     RequestHeader set X-Forwarded-HTTPS "1"

     # New specification method
     RequestHeader set X-Forwarded-Proto "https"
   </VirtualHost>
</pre>