<h2> Mojolicious 5.0 has been released </ h2>



Mojolicious 5.0 has been released. According to the release report of Mojolicious, the community seems to be expanding. Compared to Ruby on Rails, Mojolicious is more focused on the web framework, so it's compact, quirky, and very manageable.

<h3> Features added in Mojolicious 5.0 </ h3>

<ul>
  <li>
    The exception page and Not Found page have been redesigned.
  </ li>
  <li>
    Addition of easy and extensible form validation function.
  </ li>
  <li>
    CSRF protection
  </ li>
  <li>
    Template variant. You can easily switch between the design for smartphones and the design for PCs.
  </ li>
  <li>
    Mojo :: DOM enhancements
  </ li>
  <li>
    New hooks: "around_action" and "before_render"
  </ li>
  <li>
    SO_REUSEPORT: Zero downtime restart and new way for high performance
  </ li>
  <li>
    Rotating secret: You can change the secret without creating an invalid session.
  </ li>
  <li>
    Non-blocking bridge
  </ li>
  <li>
    Cheap helper
  </ li>
  <li>
    Optional placeholders are now valid everywhere
  </ li>
  <li>
    RFC 7159 support for new JSON
  </ li>
  <li>
    permessage-deflate: WebSocket compression
  </ li>
  <li>
    Minion: Another new project for the job queue.
  </ li>
</ ul>