<h2> Ported ASKA BBS from Kent Web to an implementation using Mojolicious. </ h2>



Ported ASKA BBS from Kent Web to an implementation using Mojolicious.

<blockquote>
<a href="https://github.com/yuki-kimoto/kent-aska-mojo"> ASKA BBS (Mojoliciosu version) </a>
</ blockquote>

The original ASKA BBS page and sample are here.

<blockquote>
<a href="http://www.kent-web.com/bbs/aska.html"> ASKA BBS </a>
<a href="http://www.kent-web.com/bbs/aska/aska.cgi"> Samples </a>
</ blockquote>

This is the program usage policy. It inherits the one from Kent Web.

<blockquote>
<a href="http://www.kent-web.com/pubc/kitei.html"> Program Terms of Use </a>
</ blockquote>
The ported version of ASKA BBS has the following features.

<h3> Features </ h3>

The features are as follows.

<ul>
  <li>
    Implementation of bulletin boards using the web framework Mojolicious
  </ li>
  <li>
    cpanm is used internally, and setup is completed with one command.
  </ li>
  <li>
    The only requirement is Perl 5.10.1 or higher.
  </ li>
  <li>
    Can be run with CGI and an embedded web server. For example, you can run it on Sakura Rental Server Standard.
  </ li>
</ ul>
 
The specific improvements in the internal implementation are:

<ul>
  <li>
    Use Mojolicious as a web framework.
  </ li>
  <li>
    -HTTP request analysis, parameter reception, cookie acquisition processing
  </ li>
  <li>
    -Improved URL routing, improved template description, headers and footers as parts
  </ li>
  <li>
    Use lexical variables instead of global filehandles
  </ li>
  <li>
    Use cpanm as a system for installing required modules
  </ li>
  <li>
    Simplified using MIME :: Lite to send emails
  </ li>
  <li>
    Data :: Page and Data :: Page :: Navigation were used to simplify the page feed process.
  </ li>
  <li>
    Use the Encode module to encode the character code. Removed the use of JCode.
  </ li>
  <li>
    Improved by standardizing the logic of encoding processing when saving data
  </ li>
  <li>
    It can be started with an embedded web server in addition to CGI, so it is extremely fast and scalable.
  </ li>
  <li>
    With the development server available, development has become much easier.
  </ li>
</ ul>

<h3> Purpose </ h3>

The purpose of this project is to rewrite the good old Perl / CGI in a modern way. It is a modern description of a completed web application that can be easily run on a rental server.

By showing a sample, you can rewrite it as a model to learn modern Perl descriptions. By comparing it to the good old Perl description, you'll understand what's concise and improved.

<h3> Details of improvements </ h3>

Here are a few more improvements in this project.

<h4> Scalability </ h4>

First of all, the biggest problem with CGI is its lack of scalability. Since CGI starts the process every time, performance becomes a bottleneck when the number of accesses increases to some extent.

In this implementation using Mojolicious, it can be used with CGI, but if a performance bottleneck appears, it can be scaled up using an embedded server or a Plack / PSGI compatible server.

This is often the advantage of PHP. First of all, it is installed with PHP / CGI, but if a performance bottleneck appears, you can scale it up by using mod_php and moving it.

The downside of CGI is that you can't scape up so easily, but with this improved CGI you can scape up.

<h4> Use CPAN </ h4>

CPAN is inseparable from Perl. One of the great advantages of Perl is that you can take advantage of the existence of CPAN, a treasure trove of Perl libraries.

How happy it would be if CPAN could be easily used in CGI applications as well.

In modern Perl, you can easily use the modules on CPAN by using a tool called cpanm and a configuration file called cpanfile.

A list of modules is described in the cpanfile. You can then easily install these modules under your project's directory using a tool called cpanm.

In this project, for example, MIME :: Lite is used to simplify the description of sending an email, and a module called Data :: Page is used to briefly describe the page feed.

<h3> Character code is UTF-8, module to be used is Encode </ h3>

In the good old Perl era, UTF-8 did not exist yet, so the character codes were EUC-jp and Shift_JIS.

And speaking of character code conversion processing, it was Jcode.

However, in modern Perl writing, it is best to use UTF-8 for the character code and the Encode module for handling the character code.

By doing so, you can handle strings in a unified way, and regular expressions will work perfectly correctly.

<h3> Routing and templates in a web framework </ h3>

Routing and templates are done in a web framework called Mojolicious.

In good old Perl, routing and templates are often solid in code. The description was very complicated.

By using the routing and template from the web framework, the description is simplified.

The advantage of PHP is that you can write PHP in HTML, but you can use Mojolicious templates to write Perl in HTML.

Be sure to read the code to learn about the differences between good old Perl and modern Perl.