<h2> Mojolicious document Japanese translation is now compatible with Mojolicious 8.12 </ h2>

Mojolicious Document Japanese translation is now compatible with Mojolicious 8.12.

<blockquote>
<a href="https://en.mojodoc.perlzemi.com"> Mojolicious Document Japanese Translation </a>
</ blockquote>

Mojolicious started development in 2008 and is improving day by day, with the release of August 2019.

The smallest web application can be written in 3 lines.

<pre>
use Mojolicious :: Lite;
get'/' => {text =>'Hello World'};
app-> start;
</ pre>

It is a web framework that is easy for beginners and has a wide range of applications, so please give it a try.