<h2> Version 7 of the popular web framework Mojolicious has been released </ h2>
Version 7 of Perl's popular web framework Mojolicious has been released.

<blockquote>
<a href="http://blog.kraih.com/post/147632979106/mojolicious-70-released-perl-real-time-web"> Mojolicious 7.0 released: Perl real-time web framework </a>
</ blockquote>

<h3> Translation </ h3>

I'm very excited to report the release of Mojolicious 7.0 (Doughnut).

While the Mojolicious community continues to grow, the size of the division is actually getting smaller. You will be surprised. This is a very good thing. Despite all the features we've added in the last few years, we've continued to reduce the code size from 11247 lines in 2010 to 8490 lines today.

<img src = "http://66.media.tumblr.com/ffdd41342d502bf03fd5cf4b8e4de4da/tumblr_inline_oaj2zo7He21qcosu5_500.png">

As you can see, it's not a new trend, so we emphasize iterative improvement. It involves finding a more efficient solution to a problem that has already been resolved.

At the same time, the number of tests has increased in all releases, with 11245 tests reaching a very comfortable 95% test coverage score.

<img src = "http://66.media.tumblr.com/8cb9c26b75d30ced3996f7971597ebf7/tumblr_inline_oaj3ocko311qcosu5_500.png">

With every release, we can see significant performance improvements. This can be seen again in 7.0, even though finding optimization opportunities continues to be difficult.
You can see a particular trend in the daily benchmark of "requests per second".

<img src = "http://66.media.tumblr.com/67062a94174a9c39742c9c22be7d758f/tumblr_inline_oaj525etyB1qcosu5_500.png">

In addition, we've done some internal refactoring. This is so that the built-in HTTP and WebSocket servers can scale efficiently, even with a large number of CPU cores. Large numbers of CPUs will become more commonly used.

The main focus of the year was stability, but new features have also been added. Here is a list of highlights.

<ul>
  <li>
    <b> Named variables in all templates </ b>: Mojo :: Template is native and supports named variables
  </ li>
  <li>
    <b> HTTP methods: </ b> "_method" query parameters can be used to override request methods
  </ li>
  <li>
    <b> SNI: </ b> Available on the server side
  </ li>
  <li>
    <b> Windows: </ b> Full support for Ubuntu on Windos. This includes zero downtime software upgrades
  </ li>
  <li>
    <b> Validation Filters: </ b> Parameters can be filtered before validation
  </ li>
  <li>
    <b> WebSocket subprotocol: </ b> Supports WebSocket subprotocol negotiation
  </ li>
  <li>
    <b> Minion: </ b> Our small job queues are faster, supporting parallel processing, multiple named queues, automatic reruns of failed jobs, and job dependency.
  </ li>
  <li>
    <b> Code Conduct: </ b> Diversity is bothering us, so we decided to apply Code Conduct.
  </ li>
</ ul>

More can be found by looking at Changes on GitHub for a complete list of improvements.

Add: We now have a sticker.

<img src = "http://66.media.tumblr.com/a0922e1b0ddf33bdc07562afafb81db0/tumblr_inline_oajl9gcJQn1qcosu5_500.jpg">

enjoy!