<h2> YAPC :: Kansai 2017 presentation material "Server push delivery with Mojolicious and WebSocket" </ h2>
<a href="https://yapcjapan.org/2017kansai/"> I spoke as a guest speaker at YAPC Kansai </a>. Thank you to the participants and the YAPC management staff.

YAPC :: Kansai 2017 presentation material "Server push delivery with Mojolicious and WebSocket" will be released.

<blockquote>
<b> <big> Presentation materials </ big> </ b>
<a href="https://onedrive.live.com/view.aspx?resid=605A8810ADC954E2!1133&ithint=file%2cpptx&app=PowerPoint&authkey=!ANwGpJigakO4fzs"> Server push delivery with Mojolicious and WebSocket </a>
</ blockquote>

You can also download the source code of the "cat controller" used in the demo from here.

<blockquote>
<a href="http://d.hatena.ne.jp/perlcodesample/files/neko.zip"> Cat controller demo source code </a>
</ blockquote>

<h3> YAPC photo </ h3>

This is a picture of the announcement. It was the first time I was born to talk for 60 minutes, so I was nervous. Did you speak well?

<a href="http://f.hatena.ne.jp/perlcodesample/20170304134924"> <img src = "http://img.f.hatena.ne.jp/images/fotolife/p/perlcodesample/20170304" /20170304134924.jpg "alt =" 20170304134924 "> </a>
<a href="http://f.hatena.ne.jp/perlcodesample/20170304141935"> <img src = "http://img.f.hatena.ne.jp/images/fotolife/p/perlcodesample/20170304" /20170304141935.jpg "alt =" 20170304141935 "> </a>
<a href="http://f.hatena.ne.jp/perlcodesample/20170304141925"> <img src = "http://img.f.hatena.ne.jp/images/fotolife/p/perlcodesample/20170304" /20170304141925.jpg "alt =" 20170304141925 "> </a>
<a href="http://f.hatena.ne.jp/perlcodesample/20170304142016"> ​​<img src = "http://img.f.hatena.ne.jp/images/fotolife/p/perlcodesample/20170304" /20170304142016.jpg "alt =" 20170304142016 "> </a>
<a href="http://f.hatena.ne.jp/perlcodesample/20170304142243"> <img src = "http://img.f.hatena.ne.jp/images/fotolife/p/perlcodesample/20170304" /20170304142243.jpg "alt =" 20170304142243 "> </a>

<h3> YAPC Impressions </ h3>

YAPC was full of laughter and enthusiasm! I really enjoyed it. I thought that it was a very good experience to actually see people who are usually only known on the Web.

When I went to the social gathering, I happened to be with <a href="https://www.sixapart.jp/pressroom/2012/10/ex_vp_hirata_to_become_cto.html"> Mr. Hirata from six apart </a>. I heard that Movable Type has become cloud-based and has become <a href="https://movabletype.net/"> Movable Type.net </a>, and that the inside is actually written in Mojolciious. did. When I go home and check it, it seems easy to use.

I was also surprised to meet jamadam, who was developing <a href="https://github.com/jamadam/mojo-legacy"> mojo-legacy </a> that runs on Perl 5.8, at a social gathering. ..

It was the first time for masakist at the Perl entrance ceremony in Okinawa! The students who liked Perl at the University of the Ryukyus were super energetic!

It was a very meaningful YAPC, as we received feedback from those who purchased "Perl useful for business". It was helpful because I got the impression that it was good to write how to handle Japanese and the actual log analysis.

Meeting people gives you more energy than you think! It's also an opportunity to review yourself.