<h2> mojo generate app --Create a Mojolicious template </ h2>

You can use the <b> mojo generate app </ b> command to create a Mojolicious template.

<pre>
mojo generate app application name
</ pre>

This is a sample to create an application called Myapp. It is recommended and customary for Perl module names to start with an uppercase letter, so it is recommended that all application names be uppercase at the beginning and lowercase after that.

<pre>
mojo generate app Myapp
</ pre>

The output is as follows, and the "myapp" directory is created. The application name and directory are in lowercase, and the module name is the same as the application name.

<pre>
  [mkdir] / home / kimoto / labo / tmp / myapp / script
  [write] / home / kimoto / labo / tmp / myapp / script / myapp
  [chmod] / home / kimoto / labo / tmp / myapp / script / myapp 744
  [mkdir] / home / kimoto / labo / tmp / myapp / lib
  [write] /home/kimoto/labo/tmp/myapp/lib/Myapp.pm
  [exist] / home / kimoto / labo / tmp / myapp
  [write] /home/kimoto/labo/tmp/myapp/myapp.conf
  [mkdir] / home / kimoto / labo / tmp / myapp / lib / Myapp / Controller
  [write] /home/kimoto/labo/tmp/myapp/lib/Myapp/Controller/Example.pm
  [mkdir] / home / kimoto / labo / tmp / myapp / t
  [write] /home/kimoto/labo/tmp/myapp/t/basic.t
  [mkdir] / home / kimoto / labo / tmp / myapp / public
  [write] /home/kimoto/labo/tmp/myapp/public/index.html
  [mkdir] / home / kimoto / labo / tmp / myapp / templates / layouts
  [write] /home/kimoto/labo/tmp/myapp/templates/layouts/default.html.ep
  [mkdir] / home / kimoto / labo / tmp / myapp / templates / example
  [write] /home/kimoto/labo/tmp/myapp/templates/example/welcome.html.ep
</ pre>

<h3> A brief explanation of the directory structure </ h3>

<h4> public </ h4>

A directory of static files.

<h4> templates </ h4>

Template file directory.

<h4> lib </ h4>

The directory where the library is placed.

<h4> myapp.conf </ h4>

This is the application configuration file.

<h4> myapp </ h4>

Mojolicious application. <a href="/blog/20120406133367.html"> morbo </a> to boot on the development server, <a href="/blog/20110122130016.html"> hypnotoad to boot on the production server Use </a> (hyphenotod).

Development server

<pre>
morbo myapp
</ pre>

Production server

<pre>
hypnotoad myapp
</ pre>

<h3> Application class video commentary </ h3>

<ul>
  <li> <a href="https://www.youtube.com/watch?v=_GLkeeU8UgM"> Mojolicious Application Class --Perl Programming Channel </a> </ li>
</ ul>